<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<div class="container">
    <h1>Login</h1>
    <form id="login" action="/api/users/login" method="post">
        <input id="email" type="email" name="email" placeholder="Email" required>
        <input id="password" type="password" name="password" placeholder="Password" required>
        <button id="loginButton" class="btn submit" type="submit" onclick="Login(event)">Sign in</button>
    </form>
    <span>
        <a href="/api/users/github">
            <button class="btn">Sign up with GitHub</button>
        </a>
    </span>
    <span>
        <a href="/register" target="_self">Register</a>
    </span>
</div>

{{#if failLogin}}
    <script type="text/javascript">
        alert('Login failed.');
    </script>
{{/if}}